nav {
  font-size: 50px;
  font-weight: bold;
  background-color: slategrey;
  color: white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro_container {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

#startButton {
  width: 300px;
  font-weight: bold;
}

#timeBox {
  background-color: antiquewhite;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible#timeBox {
  display: none;
}

#time {
  font-weight: bold;
  font-size: 30px;
  border: black solid 2px;
}

#bg {
  background: url("./images/bg.png");
  background-size: cover;
  width: 800px;
  height: 500px;
  margin: auto;
  position: relative;
  border: black 2px solid;
  margin-bottom: 100px;
}
