nav {
  font-size: 50px;
  font-weight: bold;
  background-color: slategrey;
  color: white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro_container {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

#startButton {
  width: 300px;
  font-weight: bold;
}

.invisible#startButton {
  display: none;
}

#timeBox {
  background-color: antiquewhite;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible#timeBox {
  display: none;
}

#time {
  font-weight: bold;
  font-size: 30px;
}

#bg {
  background: url("./images/bg.png");
  background-size: cover;
  width: 800px;
  height: 500px;
  margin: auto;
  position: relative;
  border: black 2px solid;
  margin-bottom: 20px;
}

#hero {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 35px;
  height: 54px;

  background: url("./images/hero.png") no-repeat;
}

#hero.stop {
  background-position: 0;
}

#hero.left {
  background-position: -70px;
}

#hero.right {
  background-position: -105px;
}

footer {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer > span {
  font-size: 30px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: orange;
}
